# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/
ENV/
*.egg-info/
dist/
build/

# Environment variables
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
*.wav
*.mp4
*.mov
*.mp3

# OS specific
.DS_Store
Thumbs.db
